Django>=5.0
djangorestframework
djangorestframework-simplejwt
django-cors-headers
social-auth-app-django
celery
redis
stripe
dj-database-url
python-dotenv
requests
python-docx
PyMuPDF
whitenoise
django-celery-beat
gunicorn
psycopg2-binary

